<footer class="tk-ltc-bodoni-175">

<div class="col-md-8 col-md-offset-2">
	<div class="text-center">

		<div class="logos-footer center-block">
			<img id="logo" src="/images/logo_white.png" alt="Engagement Lab">
		</div>

		<div id="name">
			Engagement Lab @ Emerson College
		</div>
		
		<div id="copyright">
			copyright 2016 emerson college
		</div>

		<div id="authors">

			catherine d'ignazio&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/kanarinka">@kanarinka</a><br />
			mushon zer-aviv&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/mushon">@mushon</a>

		</div>
	</div>
</div>

</footer>
<!-- footer end -->