.category {

  .heading {

    padding: 3%;
    color: #000;

    @include mobile-only {
      font-size: 2em;
    }
    @include desktop-and-up {
      font-size: 3em;
    }
    &.right {

      float: right;
      text-align: right;

      @include mobile-only {
        width: 100%;
      }
      @include desktop-and-up {
        width: 65%;
      }

    }
    &.left {

      @include mobile-only {
        width: 100%;
      }
      @include desktop-and-up {
        width: 40%;
      }

      @include transform(skewX(-10deg));

      bottom: -57px;
      left: -20px;
      position: relative;

      p {
        @include transform(skewX(10deg));
        position: relative;
        left: 20px;        
      }

    }
  
  }

  #page-header {
    
    position: relative;

    @include mobile-only {
      min-height: 250px;
    }
    @include desktop-and-up {
      min-height: 500px;
    }

    #title {
      
      @include mobile-only {
        font-size: 6em;
        text-align: center;
        padding-top: 10%;
      }
      @include desktop-and-up {
        position: absolute;
        bottom: -93px;
        right: 15px;
        color: #FFF;
        font-size: 9em;
      }

      .word1 {
        font-family: "HalisLight"
      }

      .word2 {
        font-style: italic;
        font-weight: bold;
      }
    }
  }

  #category-intro {

    #intro-facts {

      background-color: #FFF;
      color: #000;

      @include mobile-only {
        width: 100%;
        padding: 5%;
      }
      @include desktop-and-up {
        width: 40%;
        margin: 5%;
        padding: 3%;

      }
    }

    #intro-sub-header {

      margin-top: -8%;
      
    }

    #intro-body {

      padding-left: 6%;
      padding-right: 6%;
      padding-top: 3%;
      font-size: x-large;
      
    }

    ul {
      list-style-type: none;

      li {
        font-size: medium;

        h1 {
          margin-bottom: 0;
          font-weight: bold;
          font-size: medium;
        }
      }
    }

  }

  #body {

    background-color: #FFF;
    color: #000;
    padding-top: 90px;
    padding-bottom: 5%;

    @include tablet-landscape-and-up {
      font-size: x-large;
      line-height: 1.7em;
    }
    @include tablet-portrait-and-up {
      font-size: x-large;
      line-height: 1.7em;
    }
    @include mobile-only {
      font-size: 1.3em;
    }

    p {

      @include tablet-landscape-and-up {
        padding-left: 15%;
        padding-right: 15%;
      }
      @include tablet-portrait-and-up {
        padding-left: 15%;
        padding-right: 15%;
      }
      @include mobile-only {
        padding-left: 6%;
        padding-right: 6%;
      }

    }

    // Image and caption
    figure {

      margin: 2%;

      @include tablet-landscape-and-up {
        float: right;
      }
      @include tablet-portrait-and-up {
        float: right;
      }
      
      img {

        @include tablet-landscape-and-up {
          max-width: 250px;
          max-height: 250px;
        }
        @include tablet-portrait-and-up {
          max-width: 250px;
          max-height: 250px;
        }
        @include mobile-only {
          max-width: 100%;
        }
      }
      
      figcaption {
        color: #FFF;
        text-align: center;
        font-size: small;
        padding: 3%;
      }
    }

    // Pull quote
    blockquote {

      @include desktop-and-up {
        border-left: 170px solid #000;
      }

      margin: 50px 0px 50px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";

    }
    blockquote:before {
      content: open-quote;
      font-size: 8em;
      line-height: 0;
      margin-right: 0.01em;
      vertical-align: -0.4em;
    }
    blockquote:after {
      content: close-quote;
      font-size: 8em;
      line-height: 0.1em;
      margin-right: 0.25em;

      @include mobile-only {
        vertical-align: -0.5em;
      }
      @include tablet-landscape-and-up {
        vertical-align: -0.4em;
      }
      @include tablet-portrait-and-up {
        vertical-align: -0.4em;
      }
    }
    blockquote p {
      display: inline;

      @include mobile-only {
        font-size: 1.5em;
      }
      @include tablet-portrait-and-up {
        font-size: 2.5em;
      }
      @include tablet-landscape-and-up {
        font-size: 2.5em;
      }

      padding-left: 0% !important;
      padding-right: 0% !important;
    }

  }

}