@charset "UTF-8";
.bold {
  font-weight: 900; }

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: black;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s; }

.banner {
  padding: 2%;
  min-width: 100%; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0; }

.sidebar-nav li {
  line-height: 50px;
  text-indent: 20px; }

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none; }

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none; }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#menu-toggle {
  right: 0;
  position: absolute;
  z-index: 1;
  min-width: 50px;
  min-height: 50px; }

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s; }

.toggle {
  margin: 5px 5px 0 0; }

.category .heading {
  padding: 3%;
  color: #000; }
  @media (min-width: 425px) and (max-width: 1025px) {
    .category .heading {
      font-size: 1.6em; } }
  @media (max-width: 480px) {
    .category .heading {
      font-size: 2em; } }
  @media only screen and (min-width: 1025px) {
    .category .heading {
      font-size: 3em; } }
  .category .heading.right {
    float: right;
    text-align: right; }
    @media (min-width: 425px) and (max-width: 1025px) {
      .category .heading.right {
        width: 50%; } }
    @media (max-width: 480px) {
      .category .heading.right {
        width: 100%; } }
    @media only screen and (min-width: 1025px) {
      .category .heading.right {
        width: 65%; } }
  .category .heading.left {
    -moz-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    bottom: -57px;
    left: -20px;
    position: relative; }
    @media (max-width: 480px) {
      .category .heading.left {
        width: 100%; } }
    @media only screen and (min-width: 1025px) {
      .category .heading.left {
        width: 40%; } }
    .category .heading.left p {
      -moz-transform: skewX(10deg);
      -o-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
      -webkit-transform: skewX(10deg);
      transform: skewX(10deg);
      position: relative;
      left: 20px; }

.category #page-header {
  position: relative; }
  @media (max-width: 480px) {
    .category #page-header {
      min-height: 250px; } }
  @media (max-width: 1025px) {
    .category #page-header {
      min-height: 300px; } }
  @media only screen and (min-width: 1025px) {
    .category #page-header {
      min-height: 500px; } }
  @media (min-width: 425px) and (max-width: 1025px) {
    .category #page-header #title {
      padding-top: 10%;
      padding-left: 5%;
      font-size: 5em; } }
  @media (max-width: 480px) {
    .category #page-header #title {
      font-size: 6em;
      text-align: center;
      padding-top: 10%; } }
  @media only screen and (min-width: 1025px) {
    .category #page-header #title {
      position: absolute;
      bottom: -93px;
      right: 15px;
      color: #FFF;
      font-size: 9em; } }
  .category #page-header #title .word1 {
    font-family: "HalisLight"; }
  .category #page-header #title .word2 {
    font-style: italic;
    font-weight: bold; }

.category #category-intro #intro-facts {
  font-family: "Avenir-Roman";
  background-color: #FFF;
  color: #000;
  padding: 3% 0; }
  @media (max-width: 480px) {
    .category #category-intro #intro-facts {
      width: 100%;
      padding: 5%; } }
  @media only screen and (min-width: 1025px) {
    .category #category-intro #intro-facts {
      width: 40%;
      margin: 5%;
      padding: 3%; } }

.category #category-intro #intro-sub-header {
  margin-top: -8%; }
  @media (max-width: 480px) {
    .category #category-intro #intro-sub-header {
      margin-top: 0; } }
  @media (min-width: 425px) and (max-width: 1025px) {
    .category #category-intro #intro-sub-header {
      margin-top: -3%; } }

.category #category-intro #intro-body {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  font-size: x-large; }

.category #category-intro ul {
  list-style-type: none; }
  .category #category-intro ul li {
    font-size: medium;
    font-family: "Avenir-Light"; }
    .category #category-intro ul li h1 {
      font-family: "Avenir-Roman";
      margin-bottom: 0;
      font-weight: bold;
      font-size: medium; }

.category #body {
  background-color: #FFF;
  color: #000;
  padding-top: 90px;
  padding-bottom: 5%; }
  @media only screen and (min-width: 769px) {
    .category #body {
      font-size: x-large;
      line-height: 1.7em; } }
  @media only screen and (min-width: 481px) {
    .category #body {
      font-size: x-large;
      line-height: 1.7em; } }
  @media (max-width: 480px) {
    .category #body {
      font-size: 1.3em; } }
  .category #body h1 {
    margin-left: 15%;
    padding-top: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-top: 2px solid;
    display: inline-block; }
  .category #body p {
    padding-bottom: 2%; }
    @media only screen and (min-width: 769px) {
      .category #body p {
        padding-left: 15%;
        padding-right: 15%; } }
    @media only screen and (min-width: 481px) {
      .category #body p {
        padding-left: 15%;
        padding-right: 15%; } }
    @media (max-width: 480px) {
      .category #body p {
        padding-left: 6%;
        padding-right: 6%; } }
  .category #body figure {
    margin: 2%;
    max-width: 250px; }
    @media only screen and (min-width: 769px) {
      .category #body figure {
        float: right; } }
    @media only screen and (min-width: 481px) {
      .category #body figure {
        float: right; } }
    @media only screen and (min-width: 769px) {
      .category #body figure img {
        max-width: 250px;
        max-height: 250px; } }
    @media only screen and (min-width: 481px) {
      .category #body figure img {
        max-width: 250px;
        max-height: 250px; } }
    @media (max-width: 480px) {
      .category #body figure img {
        max-width: 100%; } }
    .category #body figure figcaption {
      color: #FFF;
      text-align: center;
      font-size: small;
      padding: 3%; }
  .category #body blockquote {
    margin: 50px 0px 50px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’"; }
    @media only screen and (min-width: 1025px) {
      .category #body blockquote {
        border-left: 170px solid #000; } }
  .category #body blockquote:before {
    content: open-quote;
    font-size: 8em;
    line-height: 0;
    margin-right: 0.01em;
    vertical-align: -0.4em; }
  .category #body blockquote:after {
    content: close-quote;
    font-size: 8em;
    line-height: 0.1em;
    margin-right: 0.25em; }
    @media (max-width: 480px) {
      .category #body blockquote:after {
        vertical-align: -0.5em; } }
    @media only screen and (min-width: 769px) {
      .category #body blockquote:after {
        vertical-align: -0.4em; } }
    @media only screen and (min-width: 481px) {
      .category #body blockquote:after {
        vertical-align: -0.4em; } }
  .category #body blockquote p {
    display: inline;
    padding-left: 0% !important;
    padding-right: 0% !important; }
    @media (max-width: 480px) {
      .category #body blockquote p {
        font-size: 1.5em; } }
    @media only screen and (min-width: 481px) {
      .category #body blockquote p {
        font-size: 2.5em; } }
    @media only screen and (min-width: 769px) {
      .category #body blockquote p {
        font-size: 2.5em; } }

.white {
  background-color: #FFF; }

#contributors {
  background-color: #D3D3D3;
  color: #000;
  padding-bottom: 5%; }
  #contributors .fa {
    color: #f9a53a;
    margin-right: 1em;
    font-size: large; }
  #contributors .buffer#pis {
    width: 90%;
    position: relative;
    margin: 5% auto; }
  #contributors .center {
    text-align: center; }
  #contributors h1 {
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Avenir-Roman"; }
  #contributors h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Avenir-Roman"; }
  #contributors #intro {
    font-size: 1.2em;
    background-color: #f9a53a;
    padding: 5%;
    font-family: "Avenir-Book"; }
    #contributors #intro h1 {
      font-size: 1.8em; }
  #contributors #border {
    border-bottom: solid 5px #f9a53a;
    margin-right: 35%;
    margin-left: 35%; }
  #contributors .pi {
    margin: 2%;
    position: relative;
    width: 45%;
    padding: 2%;
    min-height: 900px; }
    @media (min-width: 1025px) {
      #contributors .pi {
        min-height: 650px; } }
    @media (min-width: 1440px) {
      #contributors .pi {
        min-height: 750px; } }
    @media (max-width: 1023px) {
      #contributors .pi {
        width: 100%;
        margin: 3% auto; } }
  #contributors .contributor {
    margin-bottom: 4%;
    margin-right: 2%;
    padding: 2%; }
  #contributors .bio {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em; }

@font-face {
  font-family: "Halis";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_2_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_2_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_2_0.ttf") format("truetype"); }

@font-face {
  font-family: "HalisLight";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_0_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_0_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F7_0_0.ttf") format("truetype"); }

@font-face {
  font-family: "HalisBold";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F5_1_0.eot?") format("eot"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F5_1_0.woff") format("woff"), url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/3136F5_1_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir-Book";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/AvenirLTStd-Book.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Light";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/AvenirLTStd-Light.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Roman";
  src: url("https://res.cloudinary.com/engagement-lab-home/raw/upload/uncertainty-dictionary/fonts/AvenirLTStd-Roman.otf") format("opentype"); }

.hidden {
  visibility: hidden; }

.clear {
  clear: both; }

@media (max-width: 480px) {
  .page-wrapper {
    padding-left: 1%; } }

.body {
  background-color: #000;
  color: #fff;
  font-family: "Avenir-Light";
  font-size: 16px; }

@media (max-width: 480px) {
  .desktop-only {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none; } }

.buffer {
  margin-top: 5%; }

#get-involved {
  padding: 2% 5%; }
  #get-involved h1 {
    font-family: "Avenir-Roman"; }

.home {
  padding-bottom: 5%; }
  .home a {
    color: #F7AD85;
    opacity: 1;
    text-decoration: none; }
  .home a:hover, .home a:active, .home a:focus, .home a:visited {
    color: #F7AD85;
    opacity: 0.7;
    text-decoration: none; }
  .home #title {
    font-size: 2.9em;
    text-align: center;
    font-family: "Avenir-Roman"; }
    .home #title #blurred {
      font-style: italic; }
  .home #main-blurb {
    font-family: "Avenir-Light";
    font-size: x-large;
    padding-left: 5%;
    padding-right: 5%; }
  .home #categories {
    overflow: hidden;
    position: relative;
    width: 100%; }
  .home .category {
    overflow: hidden;
    max-width: 100%;
    min-height: 190px;
    margin-right: 0;
    font-size: x-large;
    -webkit-box-shadow: 10px 10px 1px black;
    -moz-box-shadow: 10px 10px 1px black;
    box-shadow: 10px 10px 1px black; }
    .home .category .transparent {
      opacity: 0; }
    .home .category .blur {
      transform: scale(1.1);
      -webkit-filter: blur(9px);
      -moz-filter: blur(9px);
      -ms-filter: blur(9px);
      -o-filter: blur(9px);
      filter: blur(9px);
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .home .category .bg {
      transform: scale(1.1);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 50%;
      cursor: pointer;
      -webkit-box-shadow: 10px 10px 1px black;
      -moz-box-shadow: 10px 10px 1px black;
      box-shadow: 10px 10px 1px black; }
    .home .category .content {
      padding-top: 4%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
    .home .category .name {
      text-transform: uppercase;
      font-weight: bolder;
      font-family: "Avenir"; }
    .home .category .right {
      font-size: medium;
      text-align: center;
      font-family: "Avenir"; }

footer div {
  padding-top: 1%;
  padding-bottom: 2%;
  color: #A7A7A7;
  font-size: 13px; }

footer img {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1); }
